* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins"; }

body {
  background: #F6F6FB; }

::selection {
  background: #16162F;
  color: #FFFFFF; }

.navbar {
  background: linear-gradient(180deg, #16162F 0%, rgba(22, 22, 47, 0.547309) 53.72%, rgba(22, 22, 47, 0) 100%) !important;
  position: absolute;
  z-index: 1;
  width: 100%;
  padding: 15px 0 0 0; }

.navbar-collapse {
  justify-content: flex-end; }

.nav-link {
  color: #FFFFFF !important; }

.nav-item {
  margin: 0 20px !important; }

.dropdown-menu {
  background: #16162F;
  color: #FFFFFF; }

.dropdown-item {
  color: #FFFFFF; }

.dropdown-item:hover {
  background: #F6F6FB !important; }

.navbar-brand img {
  max-height: 30px;
  margin-left: 30px; }

.navbar-toggler span {
  color: #FFFFFF; }

@media all and (max-width: 992px) {
  .navbar {
    background: #16162F !important; }
  .nav-item, .dropdown-item {
    text-align: center; }
  .nav-link.btn-primary {
    visibility: hidden; } }

footer {
  background-color: #16162F;
  background-image: url("../images/vector3.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: bottom left;
  background-size: 60px;
  background-position-x: 80px;
  height: 350px; }
  footer .brand {
    position: relative;
    top: 50px; }
    footer .brand img {
      max-height: 30px; }
  footer .info {
    position: relative;
    display: flex;
    justify-content: center; }
  footer .divisiones {
    margin: 20px 5%; }
    footer .divisiones ul {
      list-style-type: none; }
      footer .divisiones ul li a {
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        font-align: center;
        line-height: 42px;
        letter-spacing: 0px;
        text-decoration: none;
        color: #FFFFFF; }
    footer .divisiones .titulo {
      color: #8F91BE; }
  footer p, footer .about h1, .about footer h1 {
    color: #FFFFFF;
    text-align: center;
    margin-top: 30px;
    font-weight: 400;
    font-size: 12px; }

@media all and (max-width: 768px) {
  p, .about h1 {
    margin-top: 0px !important; } }

@media all and (max-width: 425px) {
  footer {
    height: 520px; }
    footer .brand {
      display: none !important; }
    footer .info {
      flex-flow: column; }
    footer .divisiones {
      margin: 10px 0; } }

.btn-primary {
  background: #5259FF;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 20px;
  letter-spacing: 0px;
  padding: 10px 0px;
  width: 208px; }

.btn-secondary {
  background: #16162F;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  border: 1.5px solid #FFFFFF;
  color: #FFFFFF;
  line-height: 20px;
  letter-spacing: 0px;
  padding: 10px 0px;
  width: 208px; }

.btn-primary:hover {
  box-shadow: 0px 10px 40px rgba(91, 98, 255, 0.3);
  background: #5259FF; }

.btn-secondary:hover {
  box-shadow: 0px 10px 40px rgba(91, 98, 255, 0.3);
  background: #16162F; }

.sm-card {
  width: 20%;
  height: fit-content;
  background-color: #F6F6FB;
  border-radius: 12px;
  margin: 0 10px 0 0;
  float: right;
  min-height: 230px;
  box-shadow: 0px 10px 40px rgba(91, 98, 255, 0.1); }
  .sm-card .icon {
    padding: 30px 0 12px 24px; }
    .sm-card .icon i {
      background-color: #5259FF;
      display: block;
      font-size: 18px;
      text-align: center;
      color: #fff;
      width: 38px;
      height: 38px;
      box-sizing: border-box;
      border-radius: 100%;
      line-height: 40px; }
  .sm-card .card-paragaph {
    padding: 0 24px; }

.md-card {
  width: 30%;
  height: fit-content;
  border-radius: 12px;
  margin: 20px 2% 0 0;
  min-height: 233px; }
  .md-card .icon {
    background-color: #5259FF;
    display: block;
    font-size: 38px;
    text-align: center;
    color: #FFFFFF;
    width: 82px;
    height: 82px;
    box-sizing: border-box;
    border-radius: 100%;
    line-height: 85px; }
  .md-card .card-title {
    font-weight: 700;
    padding: 0;
    margin-top: 10px; }

.lg-card {
  border-radius: 0 0 12px 12px;
  padding: 17px;
  box-sizing: border-box;
  text-align: center;
  background: #F6F6FB; }
  .lg-card ul {
    font-size: 12px;
    list-style-type: none;
    padding: 0; }

.lg-card:hover {
  box-shadow: 0px 10px 40px rgba(91, 98, 255, 0.3); }

.bottom-radius {
  border-radius: 0px 0px 12px 12px; }

.card-title {
  padding: 0 24px 0 24px;
  font-weight: 500;
  font-size: 22px; }

.card-price {
  font-size: 48px; }

.card-paragaph {
  color: rgba(22, 22, 47, 0.7);
  font-size: 12px;
  line-height: 18px;
  font-weight: 400; }

@media all and (max-width: 490px) {
  .md-card {
    width: 100vw !important; }
    .md-card .icon {
      font-size: 20px;
      width: 40px;
      height: 40px;
      line-height: 40px; } }

.hero {
  background: #16162F;
  display: flex;
  justify-content: space-between;
  height: 730px;
  background-image: url("../images/vector.png");
  background-repeat: no-repeat;
  background-size: contain; }
  .hero .social {
    width: fit-content;
    height: auto;
    float: left;
    margin: 0px 50px 0px 20px;
    position: relative;
    top: 25%; }
    .hero .social ul {
      list-style-type: none; }
    .hero .social li {
      margin: 15px 0 0 0;
      transition: all 1s; }
      .hero .social li a {
        color: #FFFFFF;
        font-size: 20px; }
    .hero .social li:hover {
      transform: scale(1.5, 1.5); }
  .hero .hero-content {
    height: 400px;
    max-width: 35vw;
    color: #FFFFFF;
    margin-top: 120px; }
    .hero .hero-content .title {
      font-size: 3.75em;
      font-weight: 700;
      line-height: 68px; }
    .hero .hero-content .subtitle {
      font-size: 3.75em;
      font-weight: 400;
      line-height: 68px; }
    .hero .hero-content .paragraph {
      color: #8F91BE; }
    .hero .hero-content .list {
      padding: 0;
      margin-top: 30px; }
      .hero .hero-content .list li {
        display: inline;
        margin-right: 15px; }
        .hero .hero-content .list li .bi {
          color: #8FFFC5;
          font-size: 0.5em;
          position: relative;
          top: -2px; }
    .hero .hero-content .botonera {
      list-style-type: none;
      padding: 0;
      margin-top: 40px; }
      .hero .hero-content .botonera li {
        display: inline;
        margin-left: 10px; }
        .hero .hero-content .botonera li a {
          display: inline-block; }
  .hero .hero-img {
    background-image: url("../images/heroback.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
    height: 100%;
    width: 55%; }

.cards {
  position: relative;
  top: -130px;
  z-index: 1;
  display: flex;
  justify-content: flex-end; }

.beneficios {
  padding-left: 10%; }
  .beneficios .title {
    font-size: 48px;
    font-weight: 700;
    line-height: 52px; }
    .beneficios .title span {
      font-weight: 100; }

.beneficios-cards {
  display: flex; }

.frase {
  margin: 80px 0; }
  .frase p, .frase .about h1, .about .frase h1 {
    font-size: 3.5em;
    font-weight: 700;
    text-align: center;
    color: #1C2042; }
    .frase p span, .frase .about h1 span, .about .frase h1 span {
      color: #5259FF; }

@media all and (max-width: 990px) {
  .hero {
    justify-content: flex-start;
    height: 690px; }
    .hero .hero-content {
      max-width: 70vw; }
    .hero .hero-img {
      display: none !important; } }

@media all and (max-width: 630px) {
  .hero {
    height: 680px; }
    .hero .botonera li {
      display: block;
      margin-left: 10px; }
      .hero .botonera li a {
        display: block;
        margin-top: 10px;
        width: 95%; }
  .cards {
    display: none; }
  .beneficios {
    padding: 10% 0 0 10%; } }

@media all and (max-width: 490px) {
  .hero {
    height: 550px; }
    .hero .hero-content .title {
      font-size: 2.5em !important; }
    .hero .hero-content .subtitle {
      font-size: 2.5em !important;
      line-height: 0px !important; }
  .beneficios .title {
    font-size: 2em !important;
    font-weight: 700;
    line-height: 20px !important; }
    .beneficios .title span {
      font-weight: 100; }
  .frase p, .frase .about h1, .about .frase h1 {
    font-size: 2em !important; }
  .beneficios-cards {
    flex-flow: row wrap; } }

@media all and (max-width: 390px) {
  .social {
    display: none !important; }
  .hero-content {
    padding-left: 20px;
    max-width: 90vw !important; }
  .beneficios .title {
    font-size: 1.5em !important;
    line-height: 10px !important; } }

.content {
  background: #16162F;
  padding-top: 80px; }

.titulo {
  text-align: center;
  margin-bottom: 20px;
  color: #FFFFFF; }
  .titulo h1 {
    font-weight: 700; }

.servicios {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
  max-width: 900px;
  padding-bottom: 50px; }
  .servicios img {
    max-width: 100%;
    border-radius: 12px 12px 0 0; }

.grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "titulo titulo titulo" "plan1 plan2 plan3" "plan4 plan4 plan4";
  grid-column-gap: 20px;
  grid-row-gap: 40px; }

#titulo {
  grid-area: titulo;
  justify-self: center;
  color: #F6F6FB; }

#titulo h1 {
  text-align: center;
  font-weight: 700; }

#plan1 {
  grid-area: plan1; }

#plan2 {
  grid-area: plan2; }

#plan3 {
  grid-area: plan3; }

#plan4 {
  grid-area: plan4;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around; }

#plan4 button {
  margin-top: 30px; }

.plan {
  max-width: 40%; }

.plan-image img {
  max-width: 450px;
  border-radius: 10px; }

.about p, .about h1 {
  color: #F6F6FB;
  text-align: center; }

.about h1 {
  font-weight: 700; }

.contact {
  color: #F6F6FB;
  padding-bottom: 20px; }
  .contact .contact__titulo {
    text-align: center;
    font-size: 38px;
    color: #F6F6FB; }
  .contact .contact__form {
    width: 70%;
    background-color: #F6F6FB;
    border-radius: 12px;
    margin-top: 20px;
    color: #000;
    padding: 20px; }
  .contact .contact__form__label {
    display: block;
    padding: 10px 10px 10px 0px; }
  .contact .contact__form__input {
    width: 100%;
    padding: 12px;
    border-radius: 12px;
    border: none;
    margin: 0px auto 20px auto; }
  .contact .contact__form__input:hover {
    box-shadow: 0px 10px 40px rgba(91, 98, 255, 0.1);
    outline: none; }
  .contact .contact__form__input:focus {
    box-shadow: 0px 10px 40px rgba(91, 98, 255, 0.1);
    background-color: #F6F6FB;
    outline: none; }
  .contact .contact__form__input--buttonPrimary {
    background: #5B62FF;
    border-radius: 12px;
    height: 42px;
    width: 100%;
    color: #ffffff;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: 0px;
    text-align: center;
    outline: none;
    border: 0; }
