
// Brand Color 
$primary: #16162F;
$secondary: #5259FF;

// Accent
$accent: #4CEECF;

// Accent replacement
$accentSecondary: #FF00F5;

// Background Color

$blue: #181C35;
$grey: #F6F6FB;
$white: #FFFFFF;

// Tipography Color

$title: #1C2042;
$subtitle: #8F91BE;
$cta: #5259FF; //Call to Action
$body: #FFFFFF;

// Gradientes 

$linear: linear-gradient(180deg, #16162F 0%, rgba(22, 22, 47, 0.547309) 53.72%, rgba(22, 22, 47, 0) 100%)