.about {
    p {
        color: $grey;
        text: {
            align: center;
        }
    }

    h1 {
        @extend p;
        font: {
            weight: 700;
        }
        
    }

    .carrusel {
        max-width: 800px;
        margin: 0 auto;
    }
}