
@import '../components/cards';

// Hero Section

.hero {
    background: $primary;
    display: flex;
    justify-content: space-between;
    height: 730px;
    background: {
        image: url("../images/vector.png");
        repeat: no-repeat;
        size: contain;
    }

    // Redes sociales
    .social {
        width: fit-content;
        height: auto;
        float: left;
        margin: 0px 50px 0px 20px;
        position: relative;
        top: 25%;

        ul {
            list-style-type: none;
        }

        li {
            margin: 15px 0 0 0;
            transition: all 1s;

            a {
                color: $white;
                font-size: 20px;
            }
        }

        li:hover {
            transform: scale(1.5,1.5)
        }
    }

    // Contenido
    .hero-content {
        height: 400px;
        max-width: 35vw;
        color: $white;
        margin-top: 120px;

        .title {
            font: {
                size: 3.75em;
                weight: 700;
            }
            line-height: 68px;
        }

        .subtitle {
            font: {
                size: 3.75em;
                weight: 400;
            }
            line-height: 68px;
        }

        .paragraph {
            color: $subtitle;
        }
        
        .list {
            padding: 0;
            margin-top: 30px;

            li {
                display: inline;
                margin-right: 15px;

                .bi {
                    color: #8FFFC5;
                    font-size: 0.5em;
                    position: relative;
                    top: -2px;
                }
            }

        }

        .botonera {
            list-style-type: none;
            padding: 0;
            margin-top: 40px;
            li {
                display: inline;
                margin-left: 10px;

                a {
                    display: inline-block;
                }
            }
        }
    }
    
    // Imagen
    .hero-img {
        background: {
            image: url("../images/heroback.png");
            repeat: no-repeat;
            size: contain;
        }
        background-position-x: right;
        height: 100%;
        width: 55%;
    }
}

// Cards

.cards {
    position: relative;
    top: -130px;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
}

// Beneficios 

.beneficios {
    padding-left: 10%;
    
    
    .title {
        font: {
            size: 48px;
            weight: 700;
        }
        line-height: 52px;

        span {
            font: {
                weight: 100;
            }
        }
    }
}

.beneficios-cards {
    display: flex;
}

.frase {
    margin: 80px 0;
    
    p {
        font: {
            size: 3.5em;
            weight: 700;
        }
        text-align: center;
        color: $title;

        span {
            color: $cta;
        }
    }
}

@media all and (max-width: 990px) {

    
.hero {
    justify-content: flex-start; // Se modificó de space-between
    height: 690px; // Se achicó el alto

    // Contenido
    .hero-content {
        max-width: 70vw; // Ahora el contenido ocupa más parte.
 
}

   // Imagen
   .hero-img {
    display: none !important; // No se muestra la imagen de la derecha
    }

}

}

@media all and (max-width: 630px) {

    .hero {
        height: 680px; // se ajusta la altura

        .botonera { // se hacen los botones mas largos y se agrega un margen entre sí al estar en dos lineas distintas
            li {
                display: block;
                margin-left: 10px;

                a {
                    display: block;
                    margin-top: 10px;
                    width: 95%;
                }
            }
        }

    }   

    .cards { // se ocultan las cards
        display: none;
    }

    .beneficios {
        padding: 10% 0 0 10%; // se agrega un padding superior a la parte de beneficios
        
    }
    

}

@media all and (max-width: 490px) {

    .hero {

        height: 550px;

        .hero-content {
            .title {
                font: {
                    size: 2.5em !important;
                }
            }

            .subtitle {
                font: {
                    size: 2.5em !important;
                }
                line-height: 0px !important;
            }

        }
    }


    // Beneficios 

    .beneficios {
      
        .title {
            font: {
                size: 2em !important;
                weight: 700;
            }
            line-height: 20px !important;

            span {
                font: {
                    weight: 100;
                }
            }
        }
    }

    .frase {
        
        p {
            font: {
                size: 2em !important;
            }
        }
    }

    .beneficios-cards {
        flex-flow: row wrap;
    }
    

}

@media all and (max-width: 390px) {

    .social {
        display: none !important;
    }

    .hero-content {
        padding-left: 20px;
        max-width: 90vw !important;
    }

    .beneficios {
      
        .title {
            font: {
                size: 1.5em !important;
            }
            line-height: 10px !important;
        }
    }

}