.success {
    height: 100vh;

    img {
        width: 30%;
        margin: 0 auto;
        display: block;
    }

    h1 {
        font-size: 2rem;
        color: #fff;
        text-align: center;
    }

    p {
        text-align: center;
        color: #fff;
    }
}


@media all and (max-width: 1024px) {
    .success {

        img {
            width: 50%;
        }
    }
   
}

@media all and (max-width: 768px) {
    .success {

        img {
            width: 50%;
        }
    }
   
}

@media all and (max-width: 425px) {
    .success {

        img {
            width: 90%;
        }
    }
   
}