/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body {
    background-color: #F6F6FB;
}

::selection {
    background: #16162F;
    color: white;
}

/* Secciones comunes */

header {
    height: 82px;
    background: linear-gradient(180deg, #16162F 0%, rgba(22, 22, 47, 0.547309) 53.72%, rgba(22, 22, 47, 0) 100%);
    position: absolute;
    width: 100%;
    z-index: 1;
}

footer {
    background-color: #16162F;
    height: 350px;
    background-image: url("../images/vector3.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: bottom left;
    background-position-x: 80px;
    background-size: 60px;
}

/* Componentes comunes */

.primaryButton {
    background: #5B62FF;
    border-radius: 12px;
    height: 42px;
    width: 208px;
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: 0px;
    text-align: center;
}

.primaryButton:hover, .secondaryButton:hover {
    box-shadow: 0px 10px 40px rgba(91, 98, 255, 0.3);
}

.secondaryButton {
    background: #16162F;
    border-radius: 12px;
    height: 42px;
    width: 208px;
    text-decoration: none;
    border: 1.5px solid white;
    color: #ffffff;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: 0px;
    text-align: center;
}


#logo {
    padding: 25px 40px;
    display: inline-block;
}

#logo img {
    max-height: 30px;
}

nav {
    float: right;
    padding: 20px;
}

nav ul li {
    display: inline-block;
    position: relative;
}

nav ul ul {
    position: absolute;
    display: none;
}

nav ul ul li {
    display: block;
    width: max-content;
}

nav ul li:hover ul {
    display: block;
}

nav ul li a, .footer-divisiones ul li a {
    display: inline-block;
    color: #ffffff;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: 0px;
    text-align: center;
} 

.menuLinks {
    margin: 0px 25px;
}


.thin {
    font-weight: 100;
}

.semi-bold {
    font-weight: 600;
}

.h2 {
    font-size: 60px;
    line-height: 68px;
    font-weight: 700;
}

.h3 {
    font-size: 48px;
    line-height: 52px;
    font-weight: 700;
}

.footer #logo {
    position: relative;
    top: 30px;
}

.footer-info {
    position: relative;
    max-width: 500px;
    top: -30px;
    left: 35%;
}

.footer-divisiones {
    display: inline-block;
    margin: 0 5%;
    vertical-align: top;
}

.footer-divisiones ul {
    list-style-type: none;
}

.footer-titulo {
    color: #8F91BE;
    font-weight: 600;
}

footer .h5 {
    color: #fff;
    text-align: center;
    margin-top: 30px;
    font-weight: 400;
}

.btn {
    border: 0;
}


/* Listas */

.lista-none {
    list-style-type: none;
}

.links {
    text-decoration: none;
}

.links:hover {
    text-decoration: underline;
}


.botonera-hz li {
    display: inline;
    margin-left: 10px;
}

.botonera-hz li a {
    display: inline-block;

}

.main-section {
    padding-top: 10%;
    background-color: #16162F; 
    color: #fff;
}

/* Secciones Home */

#hero {
    width: 100%;
    height: 730px;
    position: relative;
    background: #16162F;
    background-image: url("../images/vector.png");
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
}

.social {
    height: auto;
    width: fit-content;
    float: left;
    margin: 0px 50px 0px 20px;
    position: relative;
    top: 25%;
}


.social li {
    margin: 15px 0 0 0;
    transition: all 1s;

}

.social li a{
    color: #fff;
    font-size: 20px;
}

.social li:hover {
    transform: scale(1.5,1.5);
}

#info {
    height: 400px;
    width: 35%;
    float: left;
    margin-top: 120px;
}

.info-p {
    color: #8F91BE;
    margin: 30px 0;
}

#info .botonera-hz {
    margin-top: 40px;
}

#mainimg {
    background-image: url("../images/heroback.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
    height: 100%;
    width: 55%;
    float: right;
    margin-top: 20px;
}

.disc {
    margin-top: 20px;
}

.disc li {
    display: inline;
    margin-right: 15px;
}

.disc .bi-record-circle-fill {
    color: #8FFFC5;
    font-size: 0.5em;
    position: relative;
    top: -2px;
}

.container {
    width: 95%;
    height: fit-content;
    margin: 0 auto;
}

#cards-section {
    position: relative;
    top: -130px;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
}

.order1 {
    order: -1;
}

.sm-card {
    width: 20%;
    height: fit-content;
    background-color: #F6F6FB;
    border-radius: 12px;
    margin: 0 10px 0 0;
    float: right;
    min-height: 233px;
    box-shadow: 0px 10px 40px rgba(91, 98, 255, 0.1);
    
}

.sm-card-icon {
    padding: 30px 0 12px 24px;
}

.sm-card-icon i {
    background-color: #5B62FF;
    display: block;
    font-size: 18px;
    text-align: center;
    color: #fff;
    width: 38px;
    height: 38px;
    box-sizing: border-box;
    border-radius: 100%;
    line-height: 40px;
}

.card-title {
    padding: 0 24px 0 24px;
    font-weight: 500;
    font-size: 22px;
}

.card-price {
    font-size: 48px;
}

.card-paragaph {
    color: rgba(22, 22, 47, 0.7);
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}

.beneficios-container {
    padding-left: 10%;
}


.md-card {
    width: 30%;
    height: fit-content;
    border-radius: 12px;
    margin: 20px 2% 0 0;
    min-height: 233px;
    display: inline-block;
}

.md-card-icon {
    padding: 30px 0 12px 24px;
}

.md-card-icon i {
    background-color: #5B62FF;
    display: block;
    font-size: 38px;
    text-align: center;
    color: #fff;
    width: 82px;
    height: 82px;
    box-sizing: border-box;
    border-radius: 100%;
    line-height: 85px;
}


#frase {
    margin: 80px 0;
    width: 100%;
}

#frase p {
    font-size: 350%;
    font-weight: 700;
    text-align: center;
    color: #16162F;
}

#frase span {
    color: #5B62FF;
}

/* precios.html */
.grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
    "titulo titulo titulo"
    "plan1 plan2 plan3"
    "plan4 plan4 plan4";

    grid-column-gap: 20px;
    grid-row-gap: 40px;

}


#titulo {
    grid-area: titulo;
    justify-self: center;
}

#titulo h1 {
    text-align: center;
    font-size: 3em;
}

#plan1 {
    grid-area: plan1;
}

#plan2 {
    grid-area: plan2;
}

#plan3 {
    grid-area: plan3;
}

#plan4 {
    grid-area: plan4;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

#plan4 button {
    margin-top: 30px;
}

.md-card-grid {
    border-radius: 12px;
    padding: 17px;
    box-sizing: border-box;
    text-align: center;
}

.md-card-grid:hover {
    box-shadow: 0px 10px 40px rgba(91, 98, 255, 0.3);
}

.md-card-grid ul {
    font-size: 12px;
    list-style-type: none;
}

.bg {
    background-color: #F6F6FB;
    color: black !important;
}

.plan {
    max-width: 40%;
}

.plan-image img{
    max-width: 450px;
    border-radius: 10px;
}

/* servicios.html */

.section-divider {
   padding: 20px 0;
}

.servicios {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
}

.bordes-izquierdos {
    border-radius: 12px 0 0 12px;
}

.servicios img {
    max-width: 350px !important;
}


/* about-us.html */ 

.aboutus {
    background-color: #16162F;
}

.navbar {
    width: 100%;
}

.aboutus main {
    color: white;
}

@media all and (max-width: 767px) {

footer {
    padding-top: 50px;
}

footer {
    background-image: none;
}


.footer #logo {
    position: relative;
    
}

.footer-info {
    position: relative;
    max-width: 500px;
    top: 30px;
    left: 10%;
}

.footer-divisiones {
    display: inline-block;
    margin: 0 5%;
    vertical-align: top;
}

.footer-divisiones ul {
    list-style-type: none;
}
}

footer .h5 {
    color: #fff;
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
}

}